name: dsckssem
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  sup: ^1.0.1
  transparent_image: ^1.0.0
  auto_route: ^0.6.7
  google_fonts: ^1.1.0
  cached_network_image: ^2.3.1
  carousel_slider: ^2.2.1
  fluttertoast: ^7.0.4
  cupertino_icons: ^1.0.0
  freezed_annotation: ^0.11.0+1
  flushbar: ^1.10.4
  state_notifier: ^0.6.0
  flutter_state_notifier: ^0.6.1
  provider: ^4.3.2
  sembast: ^2.4.7+6
  flutter_hooks: ^0.13.2
  json_annotation: ^3.0.1
  path_provider: ^1.6.14
  device_preview: ^0.4.8
  dartz: ^0.9.1
  file_picker: ^1.13.3
  flutter_vector_icons: ^0.2.1
  image_picker: ^0.6.7+4
  persistent_bottom_nav_bar: ^2.0.5
  uuid: ^2.2.2
  salomon_bottom_bar: ^1.0.6
  flutter_screenutil: ^2.3.1
  intl: ^0.16.1
  url_launcher: ^5.5.0
  flutter_linkify: ^3.1.3
  auto_size_text: ^2.1.0
  #Firebase Stuff 
  cloud_firestore: ^0.14.0+2
  firebase_auth: ^0.18.0+1
  firebase_storage: ^4.0.0
  firebase_messaging: ^7.0.0
  google_sign_in: ^4.5.3
  firebase_core: ^0.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  freezed: ^0.11.5
  json_serializable: ^3.4.0
  build_runner: ^1.10.0
  auto_route_generator: ^0.6.8
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
scripts:
  build: flutter pub run build_runner build --delete-conflicting-outputs
  watch: flutter pub run build_runner watch --delete-conflicting-outputs
  
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
